.figure-header {
  background-color: #3F51B5 !important;
}

.subfigure-item {
  /* float: left; */
  display: inline-block;
}

.subfigure-list {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.custom-input-field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.properties-title h2 {
  font-size: 14px !important;
}

.figures-list {
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}

.caption-container {
  height: 10vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.figure-caption-name{
  text-align: center;
}
