.figure-header {
  background-color: #3F51B5 !important;
}

.subfigure-item {
  /* float: left; */
  display: inline-block;
}

.subfigure-list {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.custom-input-field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.properties-title h2 {
  font-size: 14px !important;
}

.figures-list {
  height: 45vh;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}

.caption-container {
  height: 5vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
}

.figure-caption-name{
  text-align: center;
}


.node {
  fill: steelblue;
  stroke: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.selected-td {
  color: rgba(0,0,0,0.54);
  background-color: #D3D3D3;
  font-size: 12px;
  font-weight: 500;
  /* height: 25px; */
}

.selection-table {
  /* font-size: 10px !important; */
  padding-left: 5px !important;
  padding-right: 5px !important;
  height: 30px;
}

.figure-header-2 {
  height: 30px !important;
}

.figure-header-2 h2 {
  line-height: 30px !important;
}

.matrix-checkbox {
  height: 30px !important;
  /* padding: 5px !important; */
}

.matrix-checkbox label div {
  height: 30px !important;
  width: 30px !important;
  padding: 5px !important;
  /*padding-right: 0px !important;*/
}
